<h2>Hello, <%= current_user.uname %>! What is your mood? </h2>

<%= render 'form' %>

<!--<%= link_to 'Show', @usertable %> | -->
<!--<%= link_to 'Return to the Happy OMeter', usertables_path %> -->
