<h3> Hello, <%= current_user.uname %>! How are you feeling today? </h3>

<%= render 'form' %>

<!--<%= link_to 'Go to Happy OMeter', usertables_path, :style => "font-size:22px;font-weight:bold;" %>-->
