  <h2>About</h2>

  <p>The Happy O'Meter is the brainchild of Sawas Inc, created by an imaginative girl who was inspired 
  one summer day in between Grade 6 and 7. The Happy O'Meter allows you to record your 
  mood at any time and tracks it for you in an easy-to-read table.</p>

  <br>
  <p>Many thanks go out to coding wonders Miika Pihjala, Varun Singh, Karri Saarinen, Vesa Vänksä, Michael Hartl, Gregg Pollack and 
  the c<>de school, and the benevolent geniuses at stackoverflow, without whom The Happy O'Meter would 
  be stuck in erb. And to Rails Girls Helsinki, for believing in the rails programmer in all of us!

