<!--<h1>Pages#home</h1>-->
<!--<p>Find me in app/views/pages/home.html.erb</p>-->

<ul> 
<h5><span style="float: right; "><%= link_to "About", about_path %></span></h5>
</ul>


<!--<h1>Welcome to The Happy OMeter!</h1>-->
<!--<p>-->
<!--  This is the home page for the-->
<!--  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>-->
<!--  sample application.-->
<!--</p>-->

<h2>Welcome! Please <%= link_to "Sign in", signin_path %></h2>
<br>
New user? <h3><%= link_to "Sign up now!",signup_path, :class => "signup_button" %></h3>
