/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

#logo { font-size: 20 px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; float: left; padding: 10 px; }
footer { margin-top: 100px; text-align: center; background: #B09BA0;  }
body { background: #cff; }
body { font-size: 14px; }
