<!DOCTYPE html>
<html>
<head>
  <title>Happy OMeter</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  
    <%= yield %>
  
</div>

<footer>
  <div class="container">
    Sawas Inc. <br>
    Sponsored by: GRRR Corporations<br>
    Dec 2011
</footer>

</body>
</html>
